<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.ReadDAO">

<select id="selectId" parameterType="String" resultType="com.example.demo.dto.UserInfoVO">
	select 
		username
		, password_hash as password
	 from kik.users 
	where username = #{username}
</select>

<select id="chkInfo" parameterType="String" resultType="com.example.demo.dto.UserInfoVO">
	select 
		username
		, password_hash as password
		, is_admin as role
	from kik.users
	where 1=1
	and username = #{username}
</select>

<select id="userProve" parameterType="map" resultType="map">
 select 
	username,
	password_hash as password,
	email,
	created_at as regDate,
	change_at as changeDate
from kik.users 
 where 1=1
 and username = #{username}
 and password_hash = #{password}
</select>

<select id="selectRefresh" parameterType="String" resultType="com.example.demo.dto.RefreshDTO">
	SELECT 
		USERNAME,
		REFRESH,
		expiration
	from kik.refreshToken
	WHERE refresh = #{refresh}
</select>

<select id="profile" parameterType="map" resultType="map">
	SELECT 
		name,
		email,
		created_at
	from kik.users
	WHERE username = #{username}
</select>

<select id="board" resultType="com.example.demo.dto.BoardDTO">
	select a.*, b.name 
	from kik.posts a 
	left outer join kik.users b on a.user_id = b.user_id
</select>

<select id="selectUserId" parameterType="String" resultType="String">
	select user_id from kik.users
	where name = #{name}
</select>

<select id="findByName" parameterType="String" resultType="String">
	select name from kik.users
	where username = #{username}
</select>

</mapper> 